.buttonsDesign {
  display: inline-block;
  min-width: 50px;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  transition: color .3s ease-in-out,background-color .3s ease-in-out,border-color .3s ease-in-out,box-shadow .3s ease-in-out;
}
.buttonsDesign:not(:disabled):not(.disabled) {
  cursor: pointer;
}

.btnOpenModals {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}

.btnOpenModals:hover {
  color: #0069d9;
  background-color: #fff;
  border-color: #0062cc;
}

.modalBtnAll {
    color: #fff;
    width: 100px;
    margin: 30px 20px 0 20px;
}
.modalBtn1 {
  background-color: rgb(179,56,45);
  border-color: rgba(179,56,45,0.9);
}

.modalBtn1:hover {
  border-color: #d44637;
  background-color: white;
  color: rgba(179,56,45,0.9);
}

.modalBtn2 {
  background-color: darkgray;
  border-color: grey;
}

.modalBtn2:hover {
  color: grey;
  background-color: white;
  border-color: white;
}

.modalBtn2, .modalBtn1:focus {
  outline: none;
}


.closeBtn {
  font-size: 30px;
}
.closeBtn:hover {
  color: black;
  cursor: pointer;
}