.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0,0,0,0.7);
  display: flex;
  justify-content: center;
  padding-top: 5rem;
}
.modal-body {
  color: white;
  width: 600px;
  height: 160px;
}
.modalHeader {
  padding: 30px ;
  line-height: 20px;
  font-size: 22px;
  display: flex;
  justify-content: space-between;
  background-color: rgb(212,70,55);
}
.modalCenter {
  padding: 30px;
  margin: 0;
  font-size: 18px;
  background-color: rgb(232,76,61);
}
.modalCenter p {
  text-align: center;
  margin: 10px 0;
  padding: 0;
}
.buttons-Ok-Cancel {
  color: white;
  text-align: center;
  display: flex;
  justify-content: center;
}


.modal-body2 {
  color: white;
  width: 600px;
  height: 160px;
}
.modalHeader2 {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  padding: 40px ;
  line-height: 20px;
  font-size: 26px;
  display: flex;
  justify-content: space-between;
  background-color: darkgray;
}
.modalCenter2 {
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  padding: 30px;
  margin: 0;
  font-size: 18px;
  background-color: grey;
}
.modalCenter2 p {
  text-align: center;
  margin: 10px 0;
  padding: 0;
}
.buttons-Ok-Cancel2 {
  text-align: center;
  display: flex;
  justify-content: center;
}
